:root{
    --background: #141519;
    --background-card: #1c252f;
    --background-boton: #232f38;
    --boton-hover: #ffffff;
    --submit-hover: #d58e61;
    --color-title: #fdfffe;
    --color-text: #79828c;
    --color-num: #788390;
    --back-hover-num: #ff6c00;
    --col-hover-num: #fff8e9;
    --background-focus: #798898;
    --color-focus: #f6fbff;
    --background-select: #232f38;
    --color-select: #cd7135;
    --background-submit: #ff6d00;
    --color-submit: #fff3d1;
    --fuente: 'Overpass', sanserif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 24px;
    font-family: var(--fuente);
    background-color: var(--background);
    font-size: 15px;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.container, .container-thank-you{
    max-width: 21rem;
    max-height: 20rem;
}

.container .imagen img{
    background-color: var(--background-boton);
    padding: 0.7rem;
    border-radius: 50%;
}

.container ul li button{
    background-color: var(--background-boton);
    padding: 1rem;
    border-radius: 50%;
    font-family: var(--fuente);
}

.container, .container-thank-you{
    padding: 24px;
    border-radius: 30px;
    background-color: var(--background-card);
}

section h1, h2{
    color: var(--color-title);
}

section h1{
    margin-top: 20px;
    margin-bottom: 10px;
}

section h2{
    margin-top: 25px;
    margin-bottom: 10px;
}

.text{
    color: var(--color-text);
    margin-bottom: 1rem;
    font-size: 13px;
}

.container .contenido ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.container .contenido ul li{
    list-style-type: none;
}

.container .contenido ul li button{
    width: 50px;
    height: 50px;
    border: none;
    color: var(--color-num);
}

.container .contenido ul li button:hover{
    cursor: pointer;
    background-color: var(--back-hover-num);
    color: var(--col-hover-num);
}

.container .contenido ul li button:focus{
    background-color: var(--background-focus);
    color: var(--color-focus);
}

button.boton{
    background-color: var(--background-submit);
    border: none;
    width: 17.9rem;
    height: 2.5rem;
    border-radius: 1rem;
    color: var(--color-submit);
    font-weight: 500;
    font-family: var(--fuente);
    letter-spacing: 0.2rem;
}

button.boton:hover{
    background-color: var(--boton-hover);
    color: var(--submit-hover);
    cursor: pointer;
}

.container-thank-you{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imagen-thanks{
    display: block;
}

.ocultar{
    display: none;
}

.container-thank-you p.select{
    background-color: var(--background-select);
    color: var(--color-select);
    margin-top: 20px;
    width: 10rem;
    height: 2rem;
    border-radius: 20px;
    padding: 0.5rem;
    font-size: 14px;
    margin-left: 3.9rem;
}

.attribution{
    font-size: 15px;
    margin-top: 30px;
    text-align: center;
    color: #ffffff;
}

.attribution a{
    color: rgb(52, 52, 240);
}